@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .monteserrat {
    font-family: "Montserrat", sans-serif;
  }
  .maru {
    font-family: "Kosugi Maru", sans-serif;
  }
}

body {
  font-family: "Kosugi Maru", sans-serif;
  background-color: #e7e6e6;
}

.lady-dress-img.visible {
  animation: opacity 4s ease-in-out forwards;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

table,
footer {
  font-family: "Montserrat", sans-serif;
}
